
*.dll
ClientListManager/.vs/*
ClientListManager/appsettings.json
ClientListManager/bin/*
ClientListManager/obj/*
ClientListManager/obj/project.nuget.cache
ClientListManager/obj/project.assets.json
ClientListManager/obj/Debug/netcoreapp3.1/ClientListManager.csprojAssemblyReference.cache
ClientListManager/obj/Debug/netcoreapp3.1/ClientListManager.assets.cache
ClientListManager/obj/ClientListManager.csproj.nuget.dgspec.json
ClientListManager/obj/ClientListManager.csproj.nuget.g.props
ClientListManager/appsettings.json
ClientListManager/.vs/ClientListManager/v16/.suo
