
*.dll
ClientListManager/.vs/*
ClientListManager/appsettings.json
ClientListManager/bin/*
ClientListManager/obj/*
ClientListManager/.vs/*
.vs/masterdev-interview/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ClientListManager/.vs/ClientListManager/v16/.suo
ClientListManager/.vs/ClientListManager/v16/.suo
ClientListManager/obj/ClientListManager.csproj.nuget.g.props
ClientListManager/obj/ClientListManager.csproj.nuget.dgspec.json
ClientListManager/obj/ClientListManager.csproj.nuget.dgspec.json
ClientListManager/obj/ClientListManager.csproj.nuget.dgspec.json
ClientListManager/obj/ClientListManager.csproj.nuget.g.props
ClientListManager/obj/ClientListManager.csproj.nuget.g.targets
