@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>
        To jest testowa aplikacja, która pozwala zarządzać listą klientów.
        Zobacz jak działa - 
        <a href="./ClientsList">klinkij!</a>
    </p>
</div>
